@import "base/variables";

* {
    font-family:  'Museo Sans Cyrl', sans-serif;
}

h1 {
    color: black;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";